* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

html{
    scroll-behavior: smooth;
}

/***************************************** NAVBAR CSS *********************************************************/

.nav-link
{
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar li
{
    border-bottom: 3px solid rgba(255, 0, 0, 0);
}

.navbar #HomeTab:hover, .navbar #HomeTab.active
{
    border-bottom: 3px solid greenyellow;
}

.navbar #AboutTab:hover, .navbar #AboutTab.active
{
    border-bottom: 3px solid orange;
}

.navbar #EventsTab:hover, .navbar #EventsTab.active
{
    border-bottom: 3px solid rgb(153, 0, 255);
}

.navbar #ContactTab:hover, .navbar #ContactTab.active
{
    border-bottom: 3px solid deeppink;
}

.navbar-brand img{
    margin-top: 0.5rem;
    width: 45%;
    height: auto;
}

/**************************************************************************************************************/

/***************************************** CARAOUSEL CSS *********************************************************/
#carouselExampleIndicators
{
    box-shadow: 0 5px 5px rgb(65, 64, 64);
}

.carousel-item
{
    width: 100%;
    background-size: cover;
}

.carousel-item img
{
    filter: grayscale(0.7);
}

.carousel-caption
{
    position: absolute;
    top: 45%;

    font-size:3vw;
    font-weight: bolder;
}

.carousel-indicators #firstItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: greenyellow
}

.carousel-indicators #secondItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: orange
}

.carousel-indicators #thirdItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: rgb(153, 0, 255);
}

.carousel-indicators #fourthItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: deeppink
}

.carousel-indicators li {
    transition: width 0.8s, background-color 0.8s;
}

/****************************************************************************************************************/

/***************************************** HEADLINE CSS *********************************************************/
.text
{
    /* Set the position here */
    position: absolute;
    width: 100%;
    height: auto;

    top: 45%;
    z-index: 5;
    font-size:3vw;
    font-weight: bolder;
}

.bg
{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
}

#headline 
{
    color: white;
}

p
{
    /* Aligning on the left side of the constant text */
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin: 0;

    right: 38%;
    top: 45%;
    text-align: center;
}

.word
{
    position: absolute;
    width: 250px;
    opacity: 0;

    text-align: left;
    margin-left: 0.8vw;
}


.letter
{
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25%;
}

.letter.out
{
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.775, 0.19);
}

.letter.behind
{
    transform: rotateX(-90deg);
}

.letter.in
{
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.firstWord
{
    color: deeppink;
}

.secondWord
{
    color: greenyellow;
}

.thirdWord
{
    color: orange;
}

.fourthWord
{
    color: rgb(153, 0, 255);
}

/****************************************************************************************************************/

/************************************************ ABOUT *********************************************************/

#About
{
    background-color: rgb(85, 85, 85);
}

img.AboutLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width:25%;
    height:auto;
}

.aboutContent
{
    text-align: center;
    padding-bottom: 4rem;
    color: white;
    font-size: 1.3vw;
    font-weight: 550;
}

/****************************************************************************************************************/

/************************************************ EVENTS *********************************************************/

#Events
{
    background-color: rgb(94, 92, 92)
}


img.EventLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width:25%;
    height:auto;
}

.eventContent
{
    text-align: center;
    padding-bottom: 4rem;
    color: white;
    font-size: 1.3vw;
    font-weight: 550;
}

/****************************************************************************************************************/

/************************************************ CONTACT *********************************************************/

#Contact
{
    background-color: rgb(114, 113, 113);
}


img.ContactLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width:25%;
    height:auto;
}

.contactContent
{
    text-align: center;
    padding-bottom: 4rem;
    color: white;
    font-size: 1.3vw;
    font-weight: 550;
}

/****************************************************************************************************************/

/************************************************ FOOTER *********************************************************/

.footer
{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.3vw;
    font-weight: 550;
    padding: 2rem;
}