* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

html{
    scroll-behavior: smooth;
}

/***************************************** NAVBAR CSS *********************************************************/

.nav-link
{
    color: white;
    font-size: 1.3vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar li
{
    border-bottom: 3px solid rgba(255, 0, 0, 0);
}

.navbar #HomeTab:hover, .navbar #HomeTab.active
{
    border-bottom: 3px solid greenyellow;
}

.navbar #AboutTab:hover, .navbar #AboutTab.active
{
    border-bottom: 3px solid orange;
}

.navbar #EventsTab:hover, .navbar #EventsTab.active
{
    border-bottom: 3px solid rgb(153, 0, 255);
}

.navbar #ContactTab:hover, .navbar #ContactTab.active
{
    border-bottom: 3px solid deeppink;
}

.navbar-brand img{
    margin-top: 0.5rem;
    width: 45%;
    height: auto;
}

/**************************************************************************************************************/

/***************************************** CARAOUSEL CSS *********************************************************/
#carouselExampleIndicators
{
    box-shadow: 0 5px 5px rgb(65, 64, 64);
}

.carousel-item
{
    width: 100%;
    background-size: cover;
}

.carousel-item img
{
    filter: grayscale(0.7);
}

.carousel-caption
{
    position: absolute;
    top: 45%;

    font-size:3vw;
    font-weight: bolder;
}

.carousel-indicators #firstItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: greenyellow
}

.carousel-indicators #secondItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: orange
}

.carousel-indicators #thirdItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: rgb(153, 0, 255);
}

.carousel-indicators #fourthItem.active {
    transition: width 0.8s, background-color 0.8s;
    width: 7%;
    background-color: deeppink
}

.carousel-indicators li {
    transition: width 0.8s, background-color 0.8s;
}

/****************************************************************************************************************/

/***************************************** HEADLINE CSS *********************************************************/
.text
{
    /* Set the position here */
    position: absolute;
    width: 100%;
    height: auto;

    top: 45%;
    z-index: 5;
    font-size:3vw;
    font-weight: bolder;
}

.bg
{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
}

#headline 
{
    color: white;
}

p
{
    /* Aligning on the left side of the constant text */
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin: 0;

    right: 38%;
    top: 45%;
    text-align: center;
}

.word
{
    position: absolute;
    width: 250px;
    opacity: 0;

    text-align: left;
    margin-left: 0.8vw;
}


.letter
{
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25%;
}

.letter.out
{
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.775, 0.19);
}

.letter.behind
{
    transform: rotateX(-90deg);
}

.letter.in
{
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.firstWord
{
    color: deeppink;
}

.secondWord
{
    color: greenyellow;
}

.thirdWord
{
    color: orange;
}

.fourthWord
{
    color: rgb(153, 0, 255);
}

/****************************************************************************************************************/

/************************************************ ABOUT *********************************************************/

#About
{
    background-color: rgb(85, 85, 85);
}

img.AboutLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width:25%;
    height:auto;
}

.aboutContent
{
    text-align: center;
    padding-bottom: 4rem;
    color: white;
    font-size: 1.3vw;
    font-weight: 550;
}

/****************************************************************************************************************/

/************************************************ EVENTS *********************************************************/

#Events
{
    background-color: rgb(94, 92, 92)
}


img.EventLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width:25%;
    height:auto;
}

.eventContent
{
    padding-bottom: 4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1);
  }

  .column img:hover
  {
      filter: grayscale(0);
      transition: 0.3s ease-in-out;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/****************************************************************************************************************/

/************************************************ CONTACT *********************************************************/

.contactContent
{
    padding-bottom: 4rem;
}

#contactRow .row
{
    padding-bottom: 7rem;
    align-content: center;
}

#contactRow img
{
    width: auto;
    display: block;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


#Contact
{
    background-color: rgb(114, 113, 113);
}


img.ContactLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    width:25%;
    height:auto;
}


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:gray;
    padding: 1rem
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:3px solid deeppink;
	background:#FFF;
	margin:0 0 5px;
    padding:10px;
    
    font-size: 1.2vw;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:3px dotted deeppink;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:deeppink;
	color:#FFF;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:3px solid deeppink;
}
::-webkit-input-placeholder {
 color:black;
 font-size: 1.2vw;
}
:-moz-placeholder {
    color:black;
    font-size: 1.2vw;;
}
::-moz-placeholder {
    color:black;
    font-size: 1.2vw;
}
:-ms-input-placeholder {
    color:black;
    font-size: 1.2vw;
}


/****************************************************************************************************************/

/************************************************ FOOTER *********************************************************/

.footer
{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.3vw;
    font-weight: 550;
    padding: 2rem;
}