/*
.text
{
    /* Set the position here 
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -400px;
    height: 40px;
    top: 49%;
    margin-top: -30px;

    z-index: 20;
    font-size:3vw;
    font-weight: bolder;
}*/

.text
{
    /* Set the position here */
    position: absolute;
    width: 100%;
    height: 100vh;

    z-index: 10;
    font-size:3vw;
    font-weight: bolder;

    background-color: rgba(0,0,0,0.7);
}

#headline 
{
    color: white;
}

p
{
    /* Aligning on the left side of the constant text */
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin: 0;

    right: 35%;
    top: 50%;
    text-align: center;
}

.word
{
    position: absolute;
    width: 220px;
    opacity: 0;

    text-align: left;
    margin-left: 0.8vw;
}


.letter
{
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25%;
}

.letter.out
{
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.775, 0.19);
}

.letter.behind
{
    transform: rotateX(-90deg);
}

.letter.in
{
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.firstWord
{
    color: deeppink;
}

.secondWord
{
    color: blueviolet;
}

.thirdWord
{
    color: orange;
}